<!DOCTYPE html>
<html>
  <head>
    {% css site %}
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta charset='utf-8'>
    <title>
      Photo Booth
    </title>
  </head>
  <body class="default">
    <nav>
      {% for item in site.data.toc.toc %}
        <h3>{{ item.title }}</h3>
        <ul>
          {% for entry in item.subfolderitems %}
            <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
